[Desktop Entry]
Comment[de]=
Encoding=UTF-8
Exec=sh -c "exec libreoffice >>~/.KDE-stderr 2>&1"
Icon=libreoffice-startcenter
MimeType=
Name[de]=LibreOffice
Path=
ServiceTypes=
SwallowExec=
SwallowTitle=
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
